* {
    box-sizing: border-box; 
  }
  html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      vertical-align: baseline;
  }


.text  
{   

    font: 500 18px 'Lato', sans-serif;
    background: #F8F8F8;
    border-radius: 24px;
    width: 556px;
    height: 48px;
    border: none;
    outline: none;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}
.src{
    font-family: 'Lato', sans-serif;
    background: #F8F8F8;
    border-radius: 24px;
    width: 556px;
    height: 48px;
}
.d-flex
{
    display: flex;
}

.settings
{
    justify-content: space-between;
    width: 122px;
    display: flex;
    align-items: center;
}
.logo
{
    padding: 0 44px;
}
.mic{
    border: 0;
    padding: 0 36px;
}
.ots
{
    padding:  0 44px;

}
.nav{

    height: 48px;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    flex: 2;
}
.nav a{
    font: 500 14px 'Lato', sans-serif;
    text-decoration: none;
    padding: 0 15px;
    color: black;
    padding-bottom: 10px; 
}
.nav-side
{
    list-style: none;
    justify-content: flex-end;
    display: flex;
    flex: 1;
    align-items: center;
}
.nav-side a
{
    font: 500 14px 'Lato', sans-serif;
    text-decoration: none;
    padding: 0 15px;
    color: black;

}
.nav a.active{
    border-bottom: 5px solid #4285f4;
}
.card-tittle{
    font: 900 18px 'Lato', sans-serif;
    padding-bottom:20px; 
}
.card-link{
    text-decoration: none;
    font: 500 15px 'Lato', sans-serif;
    color: #4285f4;
}

.content{
    background: #F2F2F2;
}
.card{
    width: 320px;
    height: 260px;
    border-radius: 4px;
    background: #FFF;
    margin-bottom: 22px;
    padding: 24px;
}
.card-content{
    font: 500 13px 'Lato', sans-serif;
}
.short-link{
    font: 500 12px 'Lato', sans-serif;
    text-decoration: none;
    color:#39912E;
    padding: 0 0 0 41px;
}
.card-content1{
    font: 500 15px 'Lato', sans-serif;
    padding-bottom: 50px;
}
.wiki{
    font: 500 12px 'Lato', sans-serif;
    height: 15px;
}
.content-wrapper{
    width: 1400px;
    margin: 0 auto;
    padding-top: 44px;
    justify-content: space-between;
}
.visit
{
    font: 500 14px 'Lato', sans-serif;
    color: black;
    padding-left: 25px;
}
.save
{
    font: 500 14px 'Lato', sans-serif;
    color: black;
    padding-left: 25px; 
}
.share
{
    font: 500 14px 'Lato', sans-serif;
    color: black;
    padding-left: 25px; 
}
.visit img{
    padding-right: 7px; 
}
.save img{
    padding-right: 7px; 
}
.share img{
    padding-right: 7px; 
}
.more img{
    padding-left: 7px; 
}
.main-list
{
    list-style: none; 
}
.main-list li{
    display: inline;
}
.block
{
    display: flex;
    justify-content: space-between;
    padding: 17px 17px 17px 0;
    align-items: center;
    background-color: #FFF
}
.more
{
    font: 500 14px 'Lato', sans-serif;
    color: black;
    padding-left: 25px; 
}
.text3
{
background-color: #FFFFFF
}
.card-text
{
    font: 500 14px 'Lato', sans-serif;
    color: #4E4E4E;
    padding-left: 25px;
    padding: 9px;
}
.card-text2
{
    font: 500 17px 'Lato', sans-serif;
    color: #4285F4;
    padding-left: 8px;
    text-decoration: none;
}
.card-text3
{
    font: 500 13px 'Lato', sans-serif;
    color: #4E4E4E;
    padding-left: 25px;
    padding: 9px;
}
.weather
{
    padding: 8px 0 0 0;
    background-image: 